<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xsi:schemaLocation=" 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> 

<!-- Bean Object --> 
<bean id="accBean" class="com.examples.around.advice.beans.Account"> 
<property name="accNo" value="abc123"/> 
<property name="accName" value="Durga"/> 
<property name="accType" value="Savings"/> 
<property name="balance" value="20000"/> 
</bean> 

 <bean id="chequeBean" class="com.examples.around.advice.beans.Cheque"> 
 <property name="cheque_No" value="xyz123"/>
 <property name="amount" value="10000"/> 
  </bean>
  
  <!-- Target --> 
  <bean id="target" class="com.examples.around.advice.service.TransactionServiceImpl"/> 
  
   <!-- Advice --> 
   <bean id="advice" class="com.examples.around.advice.validator.ChequeClearenceAdvice"/>
   
   
   <!-- Proxy --> 
   <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean"> 
    <property name="target" ref="target"/> 
    <property name="interceptorNames"> 
    <list>
     <value>advice</value> 
    </list> 
     </property> 
      </bean> 
      </beans>