<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=" 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Bean Object -->
	<bean id="movieBean" class="com.examples.throwsadvice.beans.Movie">
		<property name="movie_Name" value="Avengers" />
		<property name="show_Time" value="6:00pm" />
		<property name="price" value="10" />
	</bean>

	<!-- Target -->
	<bean id="target"
		class="com.examples.throwsadvice.bo.MovieServiceImpl" />

	<!-- Advice -->
	<bean id="advice"
		class="com.examples.throwsadvice.validator.MoneyReturnAdvice" />

	<!-- Proxy -->
	<bean id="proxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="target" />
		<property name="interceptorNames">
			<list>
				<value>advice</value>
			</list>
		</property>
	</bean>
</beans>
