<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Beans -->
	<bean id="empBean" class="com.examples.beans.Employee"> 
	<property name="eno" value="111"/> 
	<property name="ename" value="AAA"/> 
	<property name="esal" value="5000"/> 
	<property name="eaddr" value="PA"/> 
	 </bean>
	 
	 <!-- target Bean--> 
	 <bean id="empService" class="com.examples.service.EmployeeServiceImpl"/> 
	 
	 <!-- Aspect bean --> 
	 <bean id="loggingAspectBean" class="com.examples.aspects.LoggingAspectBean"/>
	 
	 <aop:config> 
	  <aop:aspect id="loggingAspect" ref="loggingAspectBean"> 
	  <aop:pointcut expression="execution(* com.examples.service.EmployeeService.*(..))" id="empPointcut"/>
	  
	  <aop:before method="before" pointcut-ref="empPointcut"/> 
	  <aop:after method="after" pointcut-ref="empPointcut"/> 
	  <aop:after-returning method="afterReturning" pointcut-ref="empPointcut" returning="result"/> 
	  <aop:around method="around" pointcut-ref="empPointcut"/>
	  
	  <aop:after-throwing method="afterThrowing" throwing="exception" pointcut-ref="empPointcut"/> 
	  </aop:aspect> 
	   </aop:config>
	   
	   </beans>